

.detail {
    .am-navbar {
        position: fixed;
        width: 100%;
        top: 0;
    }
    
    .banner {
        .slider-slide {
           height: 3.75rem;
        }
        .img-box {
            height: 3.75rem;
        }
    }
}
