// @mainColor: red;
@import url(./variables.less);

.content {
    .main {
        background-color: darkblue;
        padding: (100px / 2);
        margin: 100px / 2;
        color: @mainColor;
        background-color: @primaryColor;
    }
}